
.wrapper{
   
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.form-wrapper{
   height: 400px;
   width: 30%;
   transition: 2s;
   margin-top: 70px;
   margin-left: 400px;
   box-shadow: 0px 0px 5px black,0px 0px 5px black;

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}
.inicio{
   height: 75px;
   margin-top: 40px;
   margin-bottom: 15px;
   top: 5px;
   left: 128px;
   border: 50px 50% 50% 50%;
   position: relative;
   display: block;
   font-size: 20px;
}

.title{
   color: black;
   margin-left: 68px;
   font-size: 30px;
}
.email-login{

}
.password-login{

}
.label{
}

.email:hover{
   transition: .8s;
   background-color: rgba(55,71.,79,.5);
   box-shadow: inset;
   border-bottom-color: red;
   border-top-color: red;
   border-left-color: red;
   border-right-color: red;
}
.password:hover{
   transition: .8s;
   background-color: rgba(55,71.,79,.5);
   box-shadow: inset;
   border-bottom-color: red;
   border-top-color: red;
   border-left-color: red;
   border-right-color: red;
}
.ingresar{
   background-color: green;
   position: absolute;
   left: 535px;
}
.ingresar:hover{
   background-color: blue;
}
.error{
   color:red;
   font-size: 15px;
}


@media screen and (max-width: 750px)
{
   .form-wrapper{
      width: 95%;
      margin-top: 10px;
      margin-left: 10px;
   }
   .inicio{
      height: 50px;
      margin-left: 30px;
   }
   .ingresar{
      left: 160px; 
   }
   .title{
      margin-left: 77px;
   }
}